*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  text-align: center
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-container{
  z-index: 1500 !important; 
} 
.anchors {
  @apply flex text-[1.3rem] font-['Inter',system-ui,'Avenir',Helvetica,Arial,sans-serif] hover:text-[#5555c4];
}

.label {
  @apply text-[1.2rem] text-black font-semibold border-black;
}

.imput{
  @apply w-[100%] flex
}

.imput {
  @apply w-[300px] h-[2rem] bg-[rgb(240,240,240)]  rounded-[0.5rem] px-[0.5rem] text-[1rem] text-black border border-slate-400;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
