*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  text-align: center
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.swal2-container{
  z-index: 1500 !important; 
} 
.anchors {
  @apply flex text-[1.3rem] font-['Inter',system-ui,'Avenir',Helvetica,Arial,sans-serif] hover:text-[#5555c4];
}

.label {
  @apply text-[1.2rem] text-black font-semibold border-black;
}

.imput{
  @apply w-[100%] flex
}

.imput {
  @apply w-[300px] h-[2rem] bg-[rgb(240,240,240)]  rounded-[0.5rem] px-[0.5rem] text-[1rem] text-black border border-slate-400;
}

@media screen and (min-width: 1400px) {
  .text-large {
    font-size: 2.5rem; /* Para el título */
  }
  
  .text-subtitle-large {
    font-size: 1.25rem; /* Para los subtítulos */
  }
  .large-cart{
    font-size: 2.3rem;
  }
  .large-span{
    width: 1.15rem;
    height: 1.15rem;
  }
}
